*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.container{
    width:50%;
    min-width:400px;
    position:absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    min-height:100px;
    background-color: white;
    border-radius: 10px;
}
#tasks{
    position:relative;
    padding:30px;
}
#tasks input{
    position:relative;
    padding:10px;
    width:80%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border: 2px solid purple;
    border-radius: 10px;
}
#tasks input:focus{
    outline:none;
    border-color:rgb(78, 0, 78);
}
#tasks #add{
    width:15%;
    float:right;
    height:50px;
    border-radius: 10px;
    background-color: rgb(25, 143, 25);
    color:white;
    border:2px solid rgb(25, 143, 25);
    font-size:30px;
    cursor:pointer;
}
#added-tasks{
    width:100%;
    padding: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    /* cursor: pointer; */
    position:relative;
}
.added-task{
    background-color:rgb(210, 253, 255);
    height:50px;
    padding:30px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    border:2px solid rgb(67, 162, 194);
    display:flex;
    justify-content: space-between;
}
.added-task span{
    font-size: 20px;
    margin-top: -10px;
}
.added-task button{
    background-color:red;
    height:40px;
    width:60px;
    color:white;
    border:1px solid red;
    cursor: pointer;
    margin-top: -20px;
    border-radius: 10px;
    font-size:25px;
}
