@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,600&family=Roboto:wght@100;700&family=Ubuntu:wght@700&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.hero_navbar{
    margin:10px;
    display: flex;
}
.logo {
    margin-left: 25px;
    padding:35px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    flex:1.5;
}
#icon{
    padding-top:38px;
    font-size: 30px;
    color:black;
    cursor:pointer;
    display:none;
}
.nav_item{
    margin:10px;
    flex:7;
}
.nav_item ul{
    padding:20px;
    display:flex;
    list-style: none;
    
}
.nav_item ul li{
    padding:20px 40px;
    font-family: 'Roboto', sans-serif;
    color:#374151;
    font-size: 17px;
}
@media screen and (max-width:480px) {
    #icon{
        padding-top:38px;
        font-size: 30px;
        color:black;
        cursor:pointer;
        display:block;
    }
    .nav_item ul{
        padding:20px;
        display:block;
        list-style: none; 
        position:fixed;
        left:-100%;
    } 
}
.nav_item ul.show{
    left:10%;
    top:10%;
} 
.contact_btn{
    padding:35px;
    flex:1.5;
}
.contact_btn button{
    font-size: 15px;
    padding:10px;
    border:1px solid #e5e7eb;
    border-radius: 10%;
    font-family: 'Roboto', sans-serif;
}
.main_section{
    margin:10px;
    display: flex;
}
.description{
    padding:60px;
}
.description h1{
    padding:15px;
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
}
.list_group{
    padding-top: 25px;  
}
.list_item {
    padding:15px;
    display:flex;
    font-size: 20px; 
}
svg {
    width: 25px;
    color: blue;
    margin-right: 20px;
}
.email_textbox{
    border: 1px solid #00000044;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    width: 450px;
    margin: 20px 15px;
    padding:5px;
}
input{
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 16px;
}
.email_textbox a{
    text-decoration: none;
    background-color: blueviolet;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px 20px;
}
.photo_div {
   margin:25px 10px;
   padding:15px;
}
.photo_div img{
    width:600px;
    height:450px;
    border-radius: 1%;
}